*{margin:0%;}
.upper_menu
{
    display: grid;
    grid-template-columns: 9fr 2fr;
    width:100%;
    margin: 0px auto;
    height: 80px;
    gap: 20px;

}

.chi_siamo{text-align: right;}
.diventa_un_membro{text-align: right;  }

.chi_siamo,.diventa_un_membro
{
    padding: 27px 45px 0px 15px;
    font-family: arial;
    text-decoration: none;
}

.diventa_un_membro a,.chi_siamo a
{
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.upper_menu,.chi_siamo,.diventa_un_membro{background-color: black;}


.blocco_immagine{position:relative;}
.titolo
{
    bottom:350;
    font-family:"Press Start 2P";
    font-size: 40px;
}
.sottotitolo
{
    bottom:250;
    font-family: arial;
    width:500px;
    line-height: 1.25;
}
.titolo,.sottotitolo
{
    position:absolute;
    
    left:50;
    color: white

}

.menu_scelta
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin:0px 20px 20px 20px;
    border: 1px solid red;
    max-width:1200ps;
    height: 200px;
    place-items: center;

}
.linguaggio
{
    border: 1px solid green;
}