*{margin: auto 0%}
.container
{
    position:absolute;
    width: 100%;
    height:100%;

}
.upper_menu
{
    display: grid;
    grid-template-columns:1fr 6fr 2fr 2fr;
    width:100%;
    margin: 0px auto;
    height: 80px;
    gap: 15px;
    position:fixed;

}

.chi_siamo{text-align: center;}
.diventa_un_membro{text-align: center;  }

.chi_siamo,.diventa_un_membro
{
    padding: 27px 31px 31px 15px;
    font-family: arial;
    text-decoration: none;
    transition:all 0.5s ease-in-out;
    color:white;
}

.diventa_un_membro a,.chi_siamo a
{
    text-decoration:none;
    color:white;
    font-size:40px;
    text-align: center;
}
.chi_siamo:hover{background: gray; transform: scale(1.1)}
.diventa_un_membro:hover{background: gray; transform: scale(1.1)}
.homepage_icon:hover{background: gray; transform: scale(1.1)}
.upper_menu,.chi_siamo,.diventa_un_membro{background-color: rgb(0,0,0);}

.homepage{padding: 20px 20px 20px 20px;}
.homepage_icon
{
    max-width: 40px;
    max-height: 40px;
    transition:all 0.5s ease-in-out;
}

.sidebar
{
    height: 700px;
    position: fixed;
    width: 250.462px;
    margin-top:80px;
    background-color: rgb(10,10,10);
}
.sidebar p{color: #cccccc; text-decoration: none; font-family: Arial;margin-bottom: 50px; margin-left: 20px; font-size: 15px;  transition:all 0.5s ease-in-out; margin-right: 20px;}
.primolink{margin-top: 100px;}
.sidebar p:hover{background: gray; transform: scale(1.1)}
.sidebar a{text-decoration: none; }
.content
{
    background-color: rgb(20,20,20);
    margin-top:80px;
    margin-left: 250.462px;
    padding: 20px;
    font-size: 20px;


}
.content p
{
    font-family: Arial;
    color: #cccccc;
}
.content h2
{
    font-family:"Press Start 2P";
    color: #cccccc;
    padding-bottom: 20px;
}
.primeparole
{
    padding-bottom: 70px;
}
pre 
{
    background-color: #2d2d2d; 
    color: #cccccc; 
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto; 
    font-family: 'Courier New', monospace; 
    font-size: 14px;
}
.spiegazione
{
    margin-left: 20px;
    margin-bottom: 70px;
}



@media(max-width: 1136px)
{
    .chi_siamo,.diventa_un_membro{font-size: 14px; padding-bottom: 6px;}
    .content p{font-size: 14px;}
    .content h2{font-size: 20px}
    .spiegazione{margin-bottom: 20px;}
    .primeparole{padding-bottom: 20px;}
    code{font-size: 14px;}
}
@media(max-width: 810px)
{
    .chi_siamo,.diventa_un_membro{font-size: 12px; padding-bottom: 6px;}
    .content p{font-size: 10px;}
    .content h2{font-size: 15px}
    code{font-size: 10px;}
    .sidebar{width: 170px;}
    .sidebar p{font-size: 10px;}
    .content{margin-left: 170px;}
}
